// custom style

body {
    display : flex;
    flex-direction : column;
}


h1 {
    margin : 0;
    padding : 2rem 0;
    text-align : center;
}


footer a {
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 2rem 0;
    img {
        margin-right : 1rem;
    }
}





// _________________________________________
// calculator

#calculator {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    padding : 2rem 0;
}
form {
    max-width : 60rem;
    max-height : 65rem;
    width : 100%;
    height : 100%;
    box-shadow : $box_regular;
    font-size : 2rem;
    input {
        min-height : 7.5rem;
        width : 100%;
        padding : 1rem;
        background-color : $black;
        color : $code_green;
        border : none;
        font-family : $font-display;
        font-size : 4rem;
        letter-spacing : .5rem;
    }
    .row {
        display : flex;
        border-top : 1px solid $grey_mid;
        > button {
            // reset
            border : 0;
            padding : 0;
            // centrally align stuff
            display : flex;
            align-items : center;
            justify-content : center;
            min-height : 5rem;
            width : 100%;
            height : 100%;
            font-size : 2.5rem;
            background-color : $grey;
            color : $black;
            border-right : 1px solid $grey_mid;
            cursor : pointer;
            &[disabled] {
                background-color : $grey_mid;
                color : $grey_dark;
            }
            &.operator {
                background-color : $orange;
                color : $white;
            }
            &.modifier {
                background-color : $blue;
                color : $white;
            }
            // focus - when clicked
            transition : all ease-in-out .3s;
            &:focus {
                background-color : $grey_dark; // use animation for this
                outline : none;
            }
            &.operator:focus {
                background-color : $orange_dark;
            }
            &.modifier:focus {
                background-color : $blue_dark;
            }
        }
    }
    // 0 button
    #zero {
        flex-basis : 200%;
    }
    // top button row
    :nth-child(2) {
        border-top : none;
    }
}

